*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* Header */
header{
    border-bottom: 1px solid #dadada;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    margin: 4px auto;
}

.logo{
    width: 87.14px;
    display: flex;
}

.header img{
    width: 40px;
    border-radius: 20px;
}

.title{
    font-weight: 600;
    font-size:32px;
    letter-spacing: 2px;
}

.contact{
    display: flex;
    background-color: #333;
    text-decoration: none;
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
}

/* name */
.my-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 140px;
    margin: 32px;
}

.name{
    margin: 0 0 4px 0;
    font-size: 36px;
}

.profession{
    margin: 0 auto;
    font-size: 20px;
    font-style: italic;
}

/* summary */
.my-summary{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 32px 0;
    border-bottom: 2px solid #dadada;
    margin-bottom: 32px;
}

.summary-space{
    width: 500px;
    background-color: #333;
    color: white;
    border-radius: 16px;
    padding: 32px 40px 32px 40px;
    margin: 0 32px 0 32px;
}

.greet{
    font-weight: 800;
    margin: 0 0 14px 0;
    font-size: 20px;
    font-family: sans-serif;
}

.summary{
    margin: 0 0 14px 0;
    text-align: justify;
    font-size: 14px;
    font-family: sans-serif;
}

.iamon{
    font-size: 14px;
}

.summary-space p a{
    color: white;
}

/* subtitle */
.subtitle{
    margin: 0 48px 16px 48px;
    padding-bottom: 8px;
    border-bottom: 2px solid #dadada;
}

.title-works{
    font-weight: 800;
    margin: 0 auto;
}
.subtitle-works{
    margin: 0 auto;
}

/* Gallery */
.gallery-space{
    margin: 0 48px 16px 48px;
}

.gallery{
    width: 100%;
    columns: 140px 3;
}

.gallery img{
    width: 100%;
    margin-bottom: 1em;
    border-radius: 10px;
    border: 1px solid #777777;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

/* footer */
.footer-space{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: white;
    height: 50px;
}

.footer{
    margin-top: 8px;
    margin-bottom: 8px;
}

.session{
    margin-left: 48px;
    font-weight: 600;
}

.task{
    font-weight: 600;
}

.made{
    margin-right: 48px;
    font-weight: 600;
}