*{
    font-family: Arial, Helvetica, sans-serif
}

#header nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 0 auto;
    align-items: center;
    border-bottom: 2px solid rgb(240, 240, 240);
}

.logo img{
    display: flex;
    max-width: 100%;
    border-radius: 30px;
    flex-shrink: 0;
}

.portfolio{
    display: flex;
    text-decoration: none;
    color: rgb(17, 24, 28);
    padding: 8px;
    font-size: 30px;
    font-weight: 700;
    cursor: text;
}

.button-call{
    display: flex;
    text-decoration: none;
    background-color: rgb(17, 24, 28);
    color: white;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    flex-shrink: 0;
}
/* above are the style settings for the header */
